/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #008080;
  --violet: #9400d3;
  --green: #008000;
}

/* Use attribute selectors for the first part of the exercise */

li[class="dog"] {
  color: var(--violet);
}

li[id="cat"] {
  color: var(--teal);
}

li[class="parrot"] {
  color: var(--green);
}

li[class="donkey"] {
  color: var(--royalblue);
}

li[class="hedgehog"] {
  color: var(--violet);
}

li[class="cat dog parrot"] {
  color: var(--royalblue);
}
/* Use descendant, child, and sibling selectors for the second part */

section li {
  color: var(--green);
}

.first ~ li {
  color: var(--darkmagenta);
}

.second + li {
  color: var(--royalblue);
}
